@import "tailwindcss";

:root {
  font-family: monospace;
  background: var(--bg);
  color: var(--color-cmd);
  caret-animation: manual;
  caret-shape: block;
  caret-color: var(--caret);
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@theme {
  --color-out:      var(--color-out);
  --color-cmd:      var(--color-cmd);
  --color-user:     var(--color-user);
  --color-contract: var(--color-contract);
  --color-source:   var(--color-source);
  --color-computer: var(--color-computer);
  --color-error:    var(--color-error);
}

/* default theme — always needed */
:root {
  --bg:             #0a0800;
  --caret:          #c8a060;

  --color-out:      #8a6828;
  --color-cmd:      #f0d888;
  --color-user:     #b89070;
  --color-contract: #c8a060;
  --color-source:   #e8c070;
  --color-computer: #90b850;
  --color-error:    #c84820;
  --color-border:   #2a1e08;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-border);
  border-radius: 0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-border) transparent;
}