@import "tailwindcss";

:root {
  font-family: monospace;
  background: black;
  color: white;
  caret-animation: manual;
  caret-shape: block;
  caret-color: grey;

  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

   /* ─── Dark ─────────────────────────────────────── */
  --base:       #28282e;
 
  /* ─── Purple ───────────────────────────────────── */
  --purple:     #6c5671;
  --mauve:      #d9c8bf;
 
  /* ─── Pink ─────────────────────────────────────── */
  --red:        #f98284;
  --pink:       #feaae4;
  --peach:      #dea38b;
 
  /* ─── Blue ─────────────────────────────────────── */
  --lavender:   #b0a9e4;
  --sky:        #accce4;
 
  /* ─── Green ────────────────────────────────────── */
  --mint:       #b3e3da;
  --sage:       #87a889;
  --lime:       #b0eb93;
 
  /* ─── Yellow & Warm Neutrals ────────────────────── */
  --chartreuse: #e9f59d;
  --yellow:     #fff7a0;
  --orange:     #ffc384;
  --cream:      #ffe6c6;
  --white:      #fff7e4;
}

@theme {
  --color-input: var(--white);
  --color-computer: var(--lime);
  --color-error: var(--red);
  --color-org: var(--lavender);
  --color-contract: var(--yellow);
  --color-source: var(--sky);
  --color-user: var(--pink)
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 0;
}

* {
  scrollbar-width: thin;
  scrollbar-color:grey transparent;
}