---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="h-dvh w-full md:p-4 p-2">
    <div class="flex flex-col">
      <span>Not found :(</span>
      <a 
        href="/"
        class="text-computer underline"  
      >
        ← back
      </a>
    </div>
  </div>
</MainLayout>