---
import MainLayout from '../layouts/MainLayout.astro';
import { 
	general, 
	contracts 
} from '../data/lists';
---


<MainLayout>
	<div class="p-2 overflow-auto flex flex-col">
		<p class="">19-18-8-103 DOCS</p>
		<span class="mt-4 mb-1 text-computer">
			⎯⎯ general ⎯⎯
		</span>
		{general.map((item) => (
			<a 
				href={item.path}
				class="hover:underline text-computer pl-2"
			>
			• {item.title}
			</a>
		))}
		<span class="mt-4 mb-1 text-contract">
			⎯⎯ contracts ⎯⎯
		</span>
		{contracts.map((item) => (
			<a 
				href={item.path}
				class="hover:underline text-contract pl-2"
			>
			• {item.title}
			</a>
		))}
	</div>
</MainLayout>
